<br><br><a href="/microposts/new">Would you like to add a new post?</a>

<div class = "main">
<% @microposts.each do |x|%>

<h2><%= x.id %> | <%= x.title %> | <%= x.date_created %></h2>

<p><%= x.post %></p>

<a href="/microposts/<%= x.id %>">View Post</a>
 
<% x.tags.each do |y| %>
<a href="/tags/<%=y.id %>"><%=y.value %></a>
<% end %> 


<% end %> 
</div>

