<h3> Edit Author <%= @author.name %> </h3>

<form action= "/authors/<%= @author.id %>" method = "POST">
	<input type="hidden" name ="_method" value="PUT">
	<label for="Name">Name<br>
		<input type="text" name = "author[name]" value ="<%=@author.name%>" >
	</label><br>
	
	<label for="Post">Post<br>
		<input type="text" name = "author[occupation]" value = "<%=@author.occupation%>">
	</label><br>
	
	<label for="date_created">Date Created<br>
		<input type="text" name ="author[age]" value = "<%= @author.age%>" >
	</label><br>

	<button>SUBMIT</button>
</form>