

<% @authors.each do |x| %>
	<%= x.name %> | <%= x.occupation %> | <%= x.age %> <br>

	 <img src="<%= x.image_url %>"><br>
	 <a href="/authors/<%=x.id%>/edit">Edit this Author?</a><br>
	 <form action ="/authors/<%= x.id%>" method = "POST">
	 	<input type = "hidden" name = "_method" value ="DELETE">
	 	<p> Delete this Author?<button>DELETE</button></p>
	 </form>
	 <% x.microposts.each do |current_micropost|%>
	 <h3> <%= current_micropost.title %></h3>
	 <%= current_micropost.post %></a><br>
	 <% end %><br>

	 
	
	<% end %>

	